.body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url(../assets/background.png);
}

.logContainer {

  width: 100%;
  height: fit-content;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
}

.titulo {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 1.125rem;
}

.logLabel{
  font-size: .875rem;
  color: #555;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logButtonContainer{
  display: flex;
  justify-content: space-evenly;
}

.logButton {
  background-color: #e2e2c3;
  font-size: .875rem;
  color: #898989;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.logButton:hover {
  opacity: 0.9;
  background-color: #acc448;
  color: #ffffff;
  font-weight: bold;
}